<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <servlet>
        <servlet-name>CampanhaServlet</servlet-name>
        <servlet-class>CampanhaSolidaria.controllers.CampanhaServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OngServlet</servlet-name>
        <servlet-class>CampanhaSolidaria.controllers.OngServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EmergenciaServlet</servlet-name>
        <servlet-class>CampanhaSolidaria.controllers.EmergenciaServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InsumoServlet</servlet-name>
        <servlet-class>CampanhaSolidaria.controllers.InsumoServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CampanhaServlet</servlet-name>
        <url-pattern>/CampanhaServlet</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
        <servlet-name>OngServlet</servlet-name>
        <url-pattern>/OngServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EmergenciaServlet</servlet-name>
        <url-pattern>/EmergenciaServlet</url-pattern>
    </servlet-mapping>
 
    <servlet-mapping>
        <servlet-name>InsumoServlet</servlet-name>
        <url-pattern>/InsumoServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
